.button {
	width: -webkit-fill-available;
	background-color: rgb(163, 163, 163);
	color: rgb(44, 44, 44);
	margin: 0.75rem 0;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.25s;

	&:hover {
		color: rgb(14, 14, 14);
		background-color: rgb(143, 143, 143);
		border-color: rgb(125, 125, 125);
	}

	&:disabled {
		cursor: not-allowed;
		background-color: rgb(199, 199, 199);
		color: rgb(116, 116, 116);
		border-color: rgb(199, 199, 199);
	}

	&:focus,
	&:focus-visible {
		outline: 2px auto -webkit-focus-ring-color;
	}
}
